### Log file
*.log*

### Maven template
target/

### Gradle template
.gradle
/build/
/bin/

### SVN and Git template
.svn/
.git/

### Eclipse template
.settings/
.classpath
.project

### STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IDEA template
.idea
*.iws
*.iml
*.ipr

### NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code
.vscode/

### Package Files
#*.jar
#*.war
#*.nar
#*.ear
#*.zip
#*.tar.gz
#*.rar
/WEB-INF/lib/

### system ignore
.DS_Store

### others
*.bak
rebel*.xml